@charset "utf-8";
header{
color: #0A0505;;
text-shadow: 0 0 10px #0A0505;
}
li{
	font-size: 20px;
	text-transform: uppercase;
	text-align: justify;
	text-shadow: 8px 4px 12px #00B4FF;
}
a{
	font-size: 15px;
	text-transform: capitalize;
	text-align: justify;
	text-shadow: 8px 4px 12px #F3D40F;

}
.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}
